

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow:hidden;
}

a {
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    padding: 0.5rem;
    height: 100vh;
}
.sidebar{
    background-color: black;
    width:340px;
    margin-right: 0.5rem;
    border-radius: 1rem;

}
.maincontent{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    overflow: auto;
    margin-bottom: 4rem;
}

.musicplayer{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width:100%;
    height:72px;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding: 0.5rem 0.75rem;

}
.navoption a {
    margin-left: 0.5rem;

}
.navoption {
    line-height: 2.6rem;
    font-size: 1rem;
    opacity: 0.6;
    padding: 0.5rem 0.75rem; 
}
.navoption:hover {
    opacity: 1;
}

.navoption i{
    font-size: 1.25rem;
}

.library {
    border-radius: 1rem;
    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liboption img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    
    display: flex;

}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover {
    opacity: 1;
}


.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;

}

.boxp1{
    font-size: 1rem;
    font-weight: 500;
}
.boxp2 {
    font-size: 0.75rem;
    opacity: 0.85;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
}

.stickynav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding-top: 1rem 0 1rem 0;
}

.stknavicon {
    display: flex;
    margin-left: 0.75rem;
}
.stknavoption {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navitem{
    margin-left: 1rem;

}
.darkbadge {
    background-color: #000;
    color: white;

}

@media (max-width: 1000px){
    .hide{
        display: none;
    }
}

.card {
    background-color: gray;
    border-radius: 0.75rem;
    width: 150px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 1rem;

}

.cardscontainer {
    display: flex;
    flex-wrap: wrap;

}
.cardimg {
    width: 100%;
    border-radius: 0.75rem;
}

.cardtitle {
    font-weight: 600;

}
.cardinfo {
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.line {
    width: 90%;
    height: 50%;
    border-top: 2px solid white;
    opacity: 0.4;
}
.musicplayer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.album {
    width: 25%;
}
.currsong {
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.songimg {
    width: 15%;
    height: 50%;
    padding-right: 5px;
}


.currsong i {
    margin-right: 4px;
}
.cursonginfo p{
    font-size: 55%;
    

}
.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.playercontrolicon {
    height: 1rem;
    margin: 0.5rem;
    opacity: 0.6;
}
.playercontrol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playercontrolicon:hover {
    opacity: 1;
}
.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progressbar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progressbar::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}